<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>% Approved by Credit History</title>
    <link rel="stylesheet" href="../static/css/style_data.css">
  
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

    <!-- Full Page Intro -->
    <div class="view"

    
    <div class="head">
        </div><h2>Loan Statistics - Credit History</h2>    
        
        <img src="../static/images/Credit_History_pieStats.png" alt="Loan Requests by Credit History" width="460" height="460">
        <img src="../static/images/Credit_History_barStats.png" alt="Loan Requests by Credit History" width="460" height="460">

        <p>Of all the loan applicants in our model, 78% had a good credit history (1), while 23% had either a bad one or no credit history (0).<br>
            As you can see from the loan approval chart, loan applicants who had a good credit history were approved at a significatnly higher rate.<br>
            We can assume this is one of the most important factors in the loan approval decision from lenders.</p>            
    
            <div class="dropdown">
                <button class="dropbtn">Click Here for Other Examples</button>
                <div class="dropdown-content">
                    <a href="loanamount.html">Loan Amount</a>
                    <a href="gender.html">Gender</a>
                    <a href="education.html">Education</a>
                    <a href="maritalstatus.html">Marital Status</a>
                    <a href="data.html">Back to Main Page</a>
                </div>        


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    </div>
</div>

</body>

</html>