<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Loan Segment Background</title>
    <link rel="stylesheet" href="../static/css/style_data.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

    <!-- Full Page Intro -->
    <div class="view"></div>
        <h1>Loan Approval Data</h1>
        <h3>We looked at several different segments to determine which ones are more likely to get a loan. These include:</h3>

        <ul>
            <li>Gender</li>
            <li>Education</li>
            <li>Marital Status</li>
            <li># of Dependents</li>
            <li>Employment Status</li>
            <li>Income</li>
            <li>Loan Amount</li>
            <li>Loan Term</li>
            <li>Credit History</li>
            <li>Property Area (Rural, Semiurban or Urban)</li>
          </ul>

        <div class="dropdown">
            <button class="dropbtn">Click Here for Segment Example</button>
            <div class="dropdown-content">
                <a href="gender.html">Gender</a>
                <a href="education.html">Education</a>
                <a href="maritalstatus.html">Marital Status</a>
            </div>


            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>

        </div>

</body>

</html>