<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <title>Mortgage Loan Predictor</title>

    </head>

</head>

<body>

    <div class="ML_inputs">
        <h1> Predict Mortgage Loan Approval</h1>
        <h3> Answer the following items</h3>

        <!-- Input section using form and post method -->
        <form action="{{url_for('predict')}}" method="post">
            <div class="tab">
                <h5 class="form-header">Step 2: Your Personal Details</h5>

                <div id="gender" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Gender</label>
                    <select id="sel1" name="Gender">
                        <option value="" disabled selected>select your gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>



                <div id="Mariage Status" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Marital Status</label>
                    <select id="sel1" name="Married">
                        <option value="" disabled selected>Are you married?</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>

                <div id="Mariage Status" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Employedment Status</label>
                    <select id="sel1" name="Self_Employed">
                        <option value="" disabled selected>Are you self-employed?</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>

                <div id="Education Status" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Education Status</label>
                    <select id="sel1" name="Education">
                        <option value="" disabled selected>Have you graduated highschool?</option>
                        <option>Graduate</option>
                        <option>Not Graduate</option>
                    </select>
                </div>


                <div id="Dependents" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Number of Dependents</label>
                    <select id="sel1" name="Dependents">
                        <option value="" disabled selected>Number of Dependents</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3+</option>
                    </select>
                </div>


                <div id="creditHistory" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Credit History</label>
                    <select id="sel1" name="Credit_History">
                        <option value="" disabled selected>select your credit history</option>
                        <option>Poor</option>
                        <option>Fair</option>
                        <option>Good</option>
                        <option>Excellent</option>
                    </select>
                </div>


                <div id="totalIncome" class="form-check form-check-inline needs-validation">
                    <label class="text-white" for="totalIncome">Gross Annual Income</label>
                    <input name="TotalIncome" type="text" placeholder="(include co-applicant's income)" required>

                </div>


            </div>

            <div class="tab">
                <h5 class="form-header">Step 2: Your Loan Details</h5>

                <!-- Begin Step 2 of the form -->
                <!-- Form Input: Property Area -->

                <div id="Property_Area" class="form-check form-check-inline">
                    <label class="text-white" for="sel1">Property Area</label>
                    <select id="sel1" name="Property_Area">
                        <option value="" disabled selected>select your property area</option>
                        <option>Urban</option>
                        <option>Semiurban</option>
                        <option>Rural</option>
                    </select>
                </div>

                <!-- Form Input: Loan Amount -->
                <div id="LoanAmount" class="form-check form-check-inline">
                    <label class="text-white" for="loanAmount">Loan Amount</label>
                    <input name=LoanAmount class="form-control" type="text" placeholder="">
                </div>


                <!-- Form Input: Term of Loan -->

                <div id="termofLoan" class="form-check form-check-inline">
                    <label class="text-white" for="termofLoan">Term of Loan</label>
                    <select class="form-control" id="termofLoan" name="Loan_Amount_Term">
                        <option value="" disabled selected>select your loan term</option>
                        <option>10 year</option>
                        <option>15 year</option>
                        <option>30 year</option>
                    </select>

                </div>
            </div>


    </div>


    <button type="submit" class="btn"> Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
    </div>
</body>

</html>