<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>
        <!-- NOTE: The template for this page uses code from https://mdbootstrap.com/docs/jquery/css/background-image/ for the general page layout and CSS of the background image -->

        <!-- Full Page Intro -->
        <div class="view"
            style="background-image: url('../static/images/house.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <!-- Content -->
            <div class="container" id="formContainer">
                <!--Grid row-->
                <div class="row mt-5">

                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-4">
                        <!--Form-->
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body">
                                <!--Header-->
                                <div class="text-center">
                                    <h3 class="white-text">
                                        <i class="fas fa-user white-text"></i> Find Out if You'll Qualify</h3>
                                    <hr class="hr-light">
                                </div>

                                <!-- Step 1 of Form -->
                                <div class="tab">
                                    <h5 class="form-header">Step 1: Your Personal Details</h5>
                                    <!-- Form Input: Gender -->
                                    <div class="form-group">
                                        <div id="genderButtons" class="form-check form-check-inline">
                                            <label class="button-label text-white" for="genderButtons">Gender:</label>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="femaleRadioButton"
                                                    name="genderRadios">
                                                <label class="custom-control-label"
                                                    for="femaleRadioButton">Female</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="maleRadioButton"
                                                    name="genderRadios">
                                                <label class="custom-control-label" for="maleRadioButton">Male</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Input: Marital Status -->
                                    <div class="form-group">
                                        <div id="marriageButtons" class="form-check form-check-inline">

                                            <label class="text-white" for="marriageButtons">Are you married?</label>
                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="yesMarriageButton"
                                                    name="marriageRadios">
                                                <label class="custom-control-label" for="yesMarriageButton">Yes</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="noMarriageButton"
                                                    name="marriageRadios">
                                                <label class="custom-control-label" for="noMarriageButton">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Form Input: Self Employment -->
                                    <div class="form-group">
                                        <div id="selfEmployedButtons" class="form-check form-check-inline">
                                            <label class="button-label text-white" for="selfEmployedButtons">Are you
                                                self
                                                employed?</label>
                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input"
                                                    id="yesSelfEmployedButton" name="selfEmployedRadios">
                                                <label class="custom-control-label"
                                                    for="yesSelfEmployedButton">Yes</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input"
                                                    id="noSelfEmployedButton" name="selfEmployedRadios">
                                                <label class="custom-control-label"
                                                    for="noSelfEmployedButton">No</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Input: Education Level -->
                                    <div class="form-group">
                                        <div id="educationButtons" class="form-check form-check-inline">
                                            <label class="button-label text-white" for="educationButtons">Did you
                                                graduate high school?</label>
                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="graduateButton"
                                                    name="educationRadios">
                                                <label class="custom-control-label" for="graduateButton">Yes</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input" id="notGraduateButton"
                                                    name="educationRadios">
                                                <label class="custom-control-label" for="notGraduateButton">No</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Input: Number of Dependents -->
                                    <div class="form-group">
                                        <div id="numberOfDependents" class="form-check form-check-inline">
                                            <label class="text-white" for="numberOfDependents">How many dependents do
                                                you
                                                have?</label>
                                            <div class="def-number-input number-input safari_only">
                                                <button
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                    class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="0" type="number"
                                                    id="dependentCounter">
                                                <button
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                    class="plus"></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Input: Credit History -->
                                    <div class="form-group">
                                        <div id="creditHistory" class="form-check form-check-inline">
                                            <label class="text-white" for="creditDropdown">Credit History</label>
                                            <select class="form-control" id="creditDropdown">
                                                <option value="" disabled selected>select your credit history</option>
                                                <option value="poorCredit">Poor</option>
                                                <option>Fair</option>
                                                <option>Good</option>
                                                <option>Excellent</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Form Input: Total Income -->
                                    <div class="form-group">
                                        <div id="totalIncome" class="form-check form-check-inline needs-validation">
                                            <label class="text-white" for="totalIncome">Gross Annual Income</label>
                                            <input class="form-control" type="text"
                                                placeholder="(include co-applicant's income)" required>

                                        </div>
                                    </div>
                                </div> <!-- End of Step 1 of the form -->

                                <div class="tab">
                                    <h5 class="form-header">Step 2: Your Loan Details</h5>

                                    <!-- Begin Step 2 of the form -->
                                    <!-- Form Input: Property Area -->
                                    <div class="form-group">
                                        <div id="propertyAreaButtons">
                                            <label class="text-white" for="propertyAreaButtons">Where would you like to
                                                buy
                                                your home?</label>
                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input"
                                                    id="urbanPropertyAreaButton" name="propertyAreaRadios">
                                                <label class="custom-control-label"
                                                    for="urbanPropertyAreaButton">Urban</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input"
                                                    id="semiUrbanPropertyAreaButton" name="propertyAreaRadios">
                                                <label class="custom-control-label"
                                                    for="semiUrbanPropertyAreaButton">Semi
                                                    Urban</label>
                                            </div>

                                            <div class="custom-control custom-radio text-white">
                                                <input type="radio" class="custom-control-input"
                                                    id="ruralPropertyAreaButton" name="propertyAreaRadios">
                                                <label class="custom-control-label"
                                                    for="ruralPropertyAreaButton">Rural</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Input: Loan Amount -->
                                    <div class="form-group">
                                        <div id="loanAmount" class="form-check form-check-inline">
                                            <label class="text-white" for="loanAmount">Loan Amount</label>
                                            <input class="form-control" type="text" placeholder="">
                                        </div>
                                    </div>

                                    <!-- Form Input: Term of Loan -->
                                    <div class="form-group">
                                        <div id="termofLoan" class="form-check form-check-inline">
                                            <label class="text-white" for="termofLoan">Term of Loan</label>
                                            <select class="form-control" id="termofLoan">
                                                <option value="" disabled selected>select your loan term</option>
                                                <option>10 year</option>
                                                <option>15 year</option>
                                                <option>30 year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div style="overflow:auto;">
                                    <div style="float:right;">
                                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                    </div>
                                </div>

                                <!-- Circles which indicates the steps of the form: -->
                                <div style="text-align:center;margin-top:40px;">
                                    <span class="step"></span>
                                    <span class="step"></span>
                                </div>
                            </div>
                        </div>
                        <!--/.Form-->
                    </div>

                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->

            <!-- Content -->
            <div class="container d-none" id="resultsContainer">
                <!--Grid row-->
                <div class="row mt-5">

                    <!-- Results page -->
                    <div class="col-md-6 col-xl-5 mb-4">
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body text-white">
                                <h1>Congrats! you qualify!</h1>
                                <h1>OR sorry, you don't qualify</h1>
                                <p>include a short explanation here of why our model decided that the user did or didn't
                                    qualify</p>
                                <a href="form.html" type="button" class="btn btn-light">Try Again</a>
                                <a href="data.html" type="button" class="btn btn-light">Our Machine Learning Model</a>

                            </div>
                        </div>
                        <!-- Full Page Intro -->
                    </div>
                    <!-- End of Results page -->
                </div>
            </div>
        </div>
    </header>






    <script type="text/javascript" src="../static/js/test-json.js"></script>

    <script type="text/javascript" src="../static/js/form.js"></script>


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>

</html>