<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>
        <!-- NOTE: The template for this page uses code from https://mdbootstrap.com/docs/jquery/css/background-image/ for the general page layout and CSS of the background image -->

        <!-- Full Page Intro -->
        <div class="view"
            style="background-image: url('../static/images/house.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row mt-5">

                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-4">
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body white-text">
                                <h1>What does it take to get approved for a mortgage?</h1>
                                <p>Searching for a new home can feel like a full-time job. Apart from searching home
                                    listing sites, attending open houses, and researching potential neighborhoods,
                                    you'll need to get approved for a mortgage.</p>
                                <p>Many factors, like age, credit history & income influence how likely lenders are to
                                    grant you a mortgage. But the question is.. how much of an impact does each factor
                                    make in your chances of being approved?</p>
                                <p>This tool uses Machine Learning to analyze mortgage data and let you know your odds
                                    of getting approved. Click the link below to get started!</p>
                                <a href="form.html" type="button" class="btn btn-light">Start Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>

</html>