<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/style_models_BJM.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3><strong>KNeighbors Classifier</strong></h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Trial</th>
                    <th scope="col">Neighbors tested</th>
                    <th scope="col">Optimal neighbors</th>
                    <th scope="col">Test accuracy</th>
                    <th scope="col">Factors dropped</th>    
                    <th scope="col">Comment on dropped factors</th>                
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1 - 40</td>
                    <td>3</td>
                    <td><strong>0.800</strong></td>
                    <td>None</td>
                    <td>Includes terms that could be considered "results"</td>                     
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1 - 40</td>
                    <td>5</td>
                    <td><strong>0.792</strong></td>
                    <td>Loan Term</td>  
                    <td>Could be considered "result"</td>                                        
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>1 - 40</td>
                    <td>7</td>
                    <td><strong>0.792</strong></td>
                    <td>Loan Term, Loan Amount</td> 
                    <td>Could be considered "results"</td> 
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>1 - 40</td>
                    <td>15</td>
                    <td><strong>0.758</strong></td>
                    <td>Loan Term, Loan Amount, Property Area, Education, Gender, Self-employed</td>
                    <td>"Results" and terms rated less important in Random Forest runs </td>                                        
                </tr>                
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Testing accuracy vs. k Neighbors (orange = test, blue = train)</h5>
            </div>
            <div class='col-md-3'>
                <img src="/static/model_images/KNN_1.png" width="100%" </img>
            </div>
            <div class='col-md-3'>
                <img src="/static/model_images/KNN_2.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <img src="/static/model_images/KNN_3.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <img src="/static/model_images/KNN_4.png"  width="100%"</img>
            </div>
        </div>            
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>   </h1>                
                <h1>   </h1>                
                <h1>   </h1>                
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <h3><strong>Decision Trees</strong></h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Decision Tree</th>
                    <th scope="col">Maximum depth</th>
                    <th scope="col">Test score</th>
                    <th scope="col">Factors dropped</th>    
                    <th scope="col">Comment on dropped factors</th>                
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>(not set))</td>
                    <td>0.708</td>
                    <td>None</td>
                    <td>Includes terms that could be considered "results"</td>                     
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>3</td>
                    <td>0.775</td>
                    <td>None</td>  
                    <td>Includes terms that could be considered "results"</td>                                         
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>3</td>
                    <td>0.792</td>
                    <td>Loan Term</td> 
                    <td>Could be considered "result"</td> 
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>3</td>
                    <td>0.742</td>
                    <td>Loan Term, Loan Amount</td>
                    <td>Could be considered "results"</td>                                        
                </tr>  
                <tr>
                    <th scope="row">5</th>
                    <td>(not set)</td>
                    <td>0.617</td>
                    <td>Loan Term, Loan Amount, Property Area, Education, Gender, Self-employed</td>
                    <td>"Results" and terms rated less important in Random Forest runs </td>                                        
                </tr>                
                <tr>
                    <th scope="row">6</th>
                    <td>3</td>
                    <td>0.742</td>
                    <td>Loan Term, Loan Amount, Property Area, Education, Gender, Self-employed</td>
                    <td>"Results" and terms rated less important in Random Forest runs </td>                                        
                </tr>                                
                
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Decision tree paths (orange = denied, blue = approved)</h5>
            </div>
            <div class='col-md-3'>
                <h6>Tree 1</h6>
                <img src="/static/model_images/Decision_tree_1.png" width="100%" </img>
            </div>
            <div class='col-md-3'>
                <h6>Tree 2</h6>
                <img src="/static/model_images/Decision_tree_2.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6>Tree 3</h6>
                <img src="/static/model_images/Decision_tree_3.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6>Tree 4</h6>
                <img src="/static/model_images/Decision_tree_4.png"  width="100%"</img>
            </div>
        </div>  

        <div class="row">
            <div class="col-md-12">
                <h6>   </h6>                
            </div>
            <div class='col-md-3'>
                <h6>Tree 5</h6>
                <img src="/static/model_images/Decision_tree_5.png" width="100%" </img>
            </div>
            <div class='col-md-3'>
                <h6>Tree 6</h6>
                <img src="/static/model_images/Decision_tree_6.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6></h6>
                <img src=""  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6></h6>
                <img src=""  width="100%"</img>
            </div>
        </div>                              
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>   </h1>                
                <h1>   </h1>                
                <h1>   </h1>                
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <h3><strong>Random Forests</strong></h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Random Forest</th>
                    <th scope="col">Added parameters</th>
                    <th scope="col">Estimators</th>                                       
                    <th scope="col">Training score</th>
                    <th scope="col">Training score (oob sampling)</th>    
                    <th scope="col">Test score</th>  
                    <th scope="col">Factors dropped</th>                                      
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1a</th>
                    <td>No</td>
                    <td>200</td>
                    <td>1.0</td>
                    <td>0.805</td>  
                    <td><strong>0.775</strong></td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">1a</th>
                    <td>max_features=None, max_depth=None, min_samples_split=2</td>
                    <td>200</td>
                    <td>1.0</td>
                    <td>0.797</td>  
                    <td><strong>0.733</strong></td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">2a</th>
                    <td>No</td>
                    <td>200</td>
                    <td>1.0</td>
                    <td>0.814</td>  
                    <td><strong>0.750</strong></td>
                    <td>Loan Amount Term</td>
                </tr>
                <tr>
                    <th scope="row">2b</th>
                    <td>max_features=None, max_depth=None, min_samples_split=2</td>
                    <td>200</td>
                    <td>1.0</td>
                    <td>0.780</td>  
                    <td><strong>0.742</strong></td>
                    <td>Loan Amount Term</td>
                </tr>  
                <tr>
                    <th scope="row">3a</th>
                    <td>No</td>
                    <td>200</td>
                    <td>0.997</td>
                    <td>0.764</td>  
                    <td><strong>0.725</strong></td>
                    <td>Loan Amount Term, Loan Amount</td>
                </tr>                
                <tr>
                    <th scope="row">3b</th>
                    <td>max_features=None, max_depth=None, min_samples_split=2</td>
                    <td>200</td>
                    <td>0.997</td>
                    <td>0.783</td>  
                    <td><strong>0.742</strong></td>
                    <td>Loan Amount Term, Loan Amount</td> 
                </tr> 
                <tr>
                    <th scope="row">4a</th>
                    <td>No</td>
                    <td>200</td>
                    <td>0.997</td>
                    <td>0.766</td>  
                    <td><strong>0.642</strong></td>
                    <td>Loan Term, Loan Amount, Property Area, Education, Gender, Self-employed</td>
                </tr>                
                <tr>
                    <th scope="row">4b</th>
                    <td>max_features=None, max_depth=None, min_samples_split=2</td>
                    <td>200</td>
                    <td>0.997</td>
                    <td>0.783</td>  
                    <td><strong>0.675</strong></td>
                    <td>Loan Term, Loan Amount, Property Area, Education, Gender, Self-employed</td> 
                </tr>                                                               
                
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Random forest factor contributions</h5>
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_1a.png" width="100%" </img>
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_2a.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_3a.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_4a.png"  width="100%"</img>
            </div>
        </div>  

        <div class="row">
            <div class="col-md-12">
                <h6>   </h6>                
                <h6>   </h6>                                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>               
                <h6>   </h6>                
                <h6>   </h6>                                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>  
                <h6>   </h6>                
                <h6>   </h6>                                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                
                <h6>   </h6>                         
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_1b.png" width="100%" </img>
            </div>
            <div class='col-md-3'>

                <img src="/static/model_images/RF_2b.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6></h6>
                <img src="/static/model_images/RF_3b.png"  width="100%"</img>
            </div>
            <div class='col-md-3'>
                <h6></h6>
                <img src="/static/model_images/RF_4b.png"  width="100%"</img>
            </div>
        </div>                              
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>   </h1>                
                <h1>   </h1>                
                <h1>   </h1>                
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <h3><strong>Neural Networks</strong></h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Run</th>
                    <th scope="col">Model</th>
                    <th scope="col">Inter- mediate layers</th>                                       
                    <th scope="col">Intermediate layer description</th>
                    <th scope="col">Final layer description</th>    
                    <th scope="col">Optimizer</th> 
                    <th scope="col">Loss</th>                                      
                    <th scope="col">Metrics</th>                                       
                    <th scope="col">Epochs</th>  
                    <th scope="col">Shuffle</th>   
                    <th scope="col">Loss</th>  
                    <th scope="col">Accuracy</th>                                          
                    <th scope="col">Factors dropped</th>                                                                                               
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Sequential</td>
                    <td>2</td>
                    <td>100 units, relu activation</td>
                    <td>2 units, softmax activation</td>  
                    <td>adam</td>
                    <td>categorical crossentropy</td>
                    <td>accuracy</td>
                    <td>60</td>
                    <td>True</td>
                    <td>0.701</td>
                    <td><strong>0.75</strong></td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sequential</td>
                    <td>2</td>
                    <td>100 units, relu activation</td>
                    <td>2 units, softmax activation</td>  
                    <td>adam</td>
                    <td>categorical crossentropy</td>
                    <td>accuracy</td>
                    <td>60</td>
                    <td>True</td>
                    <td>0.701</td>
                    <td><strong>0.7333</strong></td>
                    <td>Loan Amount Term</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sequential</td>
                    <td>2</td>
                    <td>100 units, relu activation</td>
                    <td>2 units, softmax activation</td>  
                    <td>adam</td>
                    <td>categorical crossentropy</td>
                    <td>accuracy</td>
                    <td>60</td>
                    <td>True</td>
                    <td>0.750</td>
                    <td><strong>0.75</strong></td>
                    <td>Loan Amount Term, Loan Amount</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sequential</td>
                    <td>3</td>
                    <td>100 units, relu activation</td>
                    <td>2 units, softmax activation</td>  
                    <td>adam</td>
                    <td>categorical crossentropy</td>
                    <td>accuracy</td>
                    <td>60</td>
                    <td>True</td>
                    <td>0.833</td>
                    <td><strong>0.75</strong></td>
                    <td>Loan Amount Term, Loan Amount</td>
                </tr>                    
                
                </tbody>
            </table>
        </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>

</html>