<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Loan Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>


        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1X6XpEzb99zK4lCrrv7xvqCQOqxmf2qAjjQ&usqp=CAU"
                    width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="form.html">See if you Qualify</a>
                    <a class="nav-item nav-link" href="model_intro.html">Our Models</a>
                    <a class="nav-item nav-link" href="data.html">Training Data</a>

                </ul>
            </div>
        </nav>
        <!-- End of Navbar -->

        <!-- NOTE: The template for this page uses code from https://mdbootstrap.com/docs/jquery/css/background-image/ for the general page layout and CSS of the background image -->

        <!-- Full Page Intro -->
        <div class="view"
            style="background-image: url('../static/images/house.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row mt-12">

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="data-pages">
                            <div class="card-body">



                                <a href="logistic-regression.html" type="button" class="btn btn-info">Logistic Regression</a>
                                <a href="k_Nearest_Neighbors.html" type="button" class="btn btn-info">KNeighbors
                                    Classifier</a>
                                <a href="decision_trees.html" type="button" class="btn btn-info">Decision Trees</a>
                                <a href="random_forests.html" type="button" class="btn btn-info">Random Forests</a>
                                <a href="neural_networks.html" type="button" class="btn btn-info">Neural Networks</a>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1> </h1>
                                            <h1> </h1>
                                            <h1> </h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <pre>&#9</pre>
                                            </div>
                                            <h3><strong>Random Forests</strong></h3>
                                            <p class="text-justify">
                                                Income (green in bar graphs), whether as Total Income, Applicant Income alone, 
                                                or log(Total Income), was the highest-ranked factor in all Random Forests tested. Loan Amount (blue) and Credit Ranking (red)
                                                were the other high-ranked factors.<br><br>Dependents, Property Area, and (where included) Loan 
                                                Amount Term formed a second-ranking group (light gray), followed by Married, Education, 
                                                Gender, and Self-Employed (dark gray) as minor players.<br><br>
                                                
                                                Test scores and factor rankings vary somewhat from run to run, so relative rankings
                                                may shift slightly. In general, however, taking out the Loan Amount and more minor 
                                                factors decreases accuracy. Log transformations of Total Income and Loan Amount had little effect. <br>
                                                <br></p>
                                        </div>
                                        <table class="table table-striped table-bordered table-sm">
                                            <thead>
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                                                                       
                                                <tr>
                                                    <th scope="col">Random Forest</th>
                                                    <th scope="col">Estimators</th>
                                                    <th scope="col">Training score</th>
                                                    <th scope="col">Training score (oob sampling)</th>
                                                    <th scope="col">Test score</th>
                                                    <th scope="col">Income term(s)used</th>
                                                    <th scope="col">Other factors dropped or transformed</th>                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                 
                                                <tr>
                                                    <th scope="row">1a</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.753</td>
                                                    <td><strong><h4>0.737</h4></strong></td>
                                                    <td>Total Income</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1b</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.765</td>
                                                    <td><strong>0.716</strong></td>
                                                    <td>Applicant Income, Co-Applicant Income</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1c</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.758</td>
                                                    <td><strong>0.730</strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1d</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.749</td>
                                                    <td><strong>0.716</strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>None dropped; used log(LoanAmount)</td>
                                                </tr>  
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                                                               
                                                <tr>
                                                    <th scope="row">2a</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.746</td>
                                                    <td><strong><h4>0.737</h4></strong></td>
                                                    <td>Total Income</td>
                                                    <td>Loan Amount Term</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2b</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.727</td>
                                                    <td><strong>0.730</strong></td>
                                                    <td>Applicant Income, Co-Applicant Income</td>
                                                    <td>Loan Amount Term</td>
                                                </tr>
                                                <th scope="row">2c</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.753</td>
                                                    <td><strong>0.723</strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>Loan Amount Term</td>
                                                </tr>
                                                <th scope="row">2d</th>
                                                    <td>200</td>
                                                    <td>1.0</td>
                                                    <td>0.742</td>
                                                    <td><strong><h4>0.737</h4></strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>Loan Amount Term; used log(LoanAmount)</td>
                                                </tr> 
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                                                                
                                                <tr>
                                                    <th scope="row">3a</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.694</td>
                                                    <td><strong>0.681</strong></td>
                                                    <td>Total Income</td>
                                                    <td>Loan Amount Term, Loan Amount</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3b</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.713</td>
                                                    <td><strong>0.709</strong></td>
                                                    <td>Applicant Income, Co-Applicant Income</td>
                                                    <td>Loan Amount Term, Loan Amount</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3c</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.692</td>
                                                    <td><strong>0.667</strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>Loan Amount Term, Loan Amount</td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                 
                                                <tr>
                                                    <th scope="row">4a</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.675</td>
                                                    <td><strong>0.702</strong></td>
                                                    <td>Total Income</td>
                                                    <td>Loan Term, Loan Amount, Gender, Education, Self_Employed,
                                                        Married</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4b</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.682</td>
                                                    <td><strong>0.730</strong></td>
                                                    <td>Applicant Income, Co-Applicant Income</td>
                                                    <td>Loan Term, Loan Amount, Gender, Education, Self_Employed,
                                                        Married</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4c</th>
                                                    <td>200</td>
                                                    <td>0.995</td>
                                                    <td>0.675</td>
                                                    <td><strong>0.681</strong></td>
                                                    <td>log(Total Income)</td>
                                                    <td>Loan Term, Loan Amount, Gender, Education, Self_Employed,
                                                        Married</td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th scope="row"></th>
                                                    <td></td>
                                                    <td</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>                                                    
                                                    <td></td> 
                                                </tr>                 
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><strong>Random forest factor contributions</strong></h4>
                                        </div>
                                        <div class="col-md-12">
                                            <h5>A) Total income</h5>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_1a.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_2a.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_3a.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_4a.png" width="100%" </img>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <pre>&#9</pre>
                                            </div>
                                            <h5>B) Applicant and Co-Applicant Income separate</h5>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_1b.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_2b.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>
                                            <h6></h6>
                                            <img src="../static/images/RF_3b.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>
                                            <h6></h6>
                                            <img src="../static/images/RF_4b.png" width="100%" </img>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <pre>&#9</pre>
                                            </div>
                                            <h5>C) log(Total Income)</h5>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_1c.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_2c.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>
                                            <h6></h6>
                                            <img src="../static/images/RF_3c.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>
                                            <h6></h6>
                                            <img src="../static/images/RF_4c.png" width="100%" </img>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <pre>&#9</pre>
                                            </div>
                                            <h5>D) log(Total Income); used log(LoanAmount)</h5>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_1d.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>

                                            <img src="../static/images/RF_2d.png" width="100%" </img>
                                        </div>
                                        <div class='col-md-3'>
                                        </div>
                                        <div class='col-md-3'>
                                        </div>
                                    </div>
                                </div>

                                <!-- end of content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>

</html>
